<script type="text/javascript" charset="utf-8">

<% @nominee_charts.each_with_index do |chart, i| %>

  $(function () {
    var chart;
    $(window).load(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'prediction_chart<%=i.to_s%>',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: true
        },
        xAxis: {
            title: {
                text: '<%= chart[:x_axis] %>'
            }<% if chart[:tickInterval].present? %>,
            tickInterval: <%= chart[:tickInterval] %>,
            min: 0,
            max: 3,
            categories: ['', 'א', 'ב', '']
            <% end %>
        },
        yAxis: {
            title: {
                text: '<%= chart[:y_axis] %>'
            }
        },
        title: {
            text: '<%= chart[:title] %>'
        },
        series: [{
            type: 'line',
            name: 'Regression Line',
            data: <%= chart[:data_linear] %>,
            marker: {
                enabled: false
            },
            states: {
                hover: {
                    lineWidth: 0
                }
            },
            enableMouseTracking: false
        }, {
            type: 'scatter',
            name: 'Observations',
            data: <%= chart[:data_dots_obs] %>,
            marker: {
                radius: 3
            }
        }, {
            type: 'scatter',
            name: 'Individual',
            data: [<%= chart[:data_dots_ind] %>],
            marker: {
                radius: 7
            }
        }]
      });
    });
  });

<% end %>
</script>


<div class="jumbotron nominee_page">  	
	<div class="content-holder container">
		
		<div class="row-fluid">
			
			<div class="row-fluid span10">
				<% 0.upto(@nominee_charts.count - 1) do |i| %>
				<div class="row-fluid"> 
					<div id= <%="prediction_chart#{i.to_s}"%> class="nominee_section_span"></div>
				</div>
				<br><br><br><br>
				<% end %> 
			</div>

			<div class="span2">
				<% @nominee_boxes.each do |p| %>
					<div class="row-fluid thumbnail nominee_result_box">
						<h4> <%= p[0] %> </h4>
						<h3> <b> <%= p[1] %> </b> </h3>

						<div> מקדם המתאם: <%= p[2] %> </div>
					</div>
					<br><br>
				<% end %>
			</div>

		</div>

	</div>
</div>