<script type="text/javascript" charset="utf-8">

<% 1.upto(@nominee_charts.count) do |i| %>

  $(function () {
    var chart;
    $(window).load(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'prediction_chart<%=i.to_s%>',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: true
        },
        xAxis: {
            min: -0.5,
            max: 5.5
        },
        yAxis: {
            min: 0
        },
        title: {
            text: 'Scatter plot with regression line'
        },
        series: [{
            type: 'line',
            name: 'Regression Line',
            data: [[0, 1.11], [5, 4.51]],
            marker: {
                enabled: false
            },
            states: {
                hover: {
                    lineWidth: 0
                }
            },
            enableMouseTracking: false
        }, {
            type: 'scatter',
            name: 'Observations',
            data: [1, 1.5, 2.8, 3.5, 3.9, 4.2],
            marker: {
                radius: 4
            }
        }]
      });
    });
  });

<% end %>
</script>


<div class="jumbotron nominee_page">  	
	<div class="content-holder container">
		
		<div class="row-fluid">
			
			<div class="row-fluid span10">
				<% 1.upto(@graph_count) do |i| %>
				<div class="row-fluid"> 
					<div id= <%="prediction_chart#{i.to_s}"%> class="nominee_section_span"></div>
				</div>
				<br><br><br><br>
				<% end %> 
			</div>

			<div class="span2">
				<% @@nominee_boxes.each do |p| %>
					<div class="row-fluid thumbnail nominee_result_box">
						<h4> <%= p[0] %> </h4>
						<h3> <b> <%= p[1] %> </b> </h3>

						<div> מקדם המתאם: <%= p[2] %> </div>
					</div>
					<br><br>
				<% end %>
			</div>

		</div>

	</div>
</div>