<h1>Listing graduate_professions</h1>

<table>
  <tr>
    <th>Id number</th>
    <th>Gender</th>
    <th>Marital status</th>
    <th>Number of children</th>
    <th>Second degree institute</th>
    <th>Second degree</th>
    <th>Second degree type</th>
    <th>Third degree institute</th>
    <th>Third degree years</th>
    <th>Third degree type</th>
    <th>Current job</th>
    <th>Current company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @graduate_professions.each do |graduate_profession| %>
  <tr>
    <td><%= graduate_profession.id_number %></td>
    <td><%= graduate_profession.gender %></td>
    <td><%= graduate_profession.marital_status %></td>
    <td><%= graduate_profession.number_of_children %></td>
    <td><%= graduate_profession.second_degree_institute %></td>
    <td><%= graduate_profession.second_degree %></td>
    <td><%= graduate_profession.second_degree_type %></td>
    <td><%= graduate_profession.third_degree_institute %></td>
    <td><%= graduate_profession.third_degree_years %></td>
    <td><%= graduate_profession.third_degree_type %></td>
    <td><%= graduate_profession.current_job %></td>
    <td><%= graduate_profession.current_company %></td>
    <td><%= link_to 'Show', graduate_profession %></td>
    <td><%= link_to 'Edit', edit_graduate_profession_path(graduate_profession) %></td>
    <td><%= link_to 'Destroy', graduate_profession, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Graduate profession', new_graduate_profession_path %>
