<!DOCTYPE html>
<html>

	<head>
	  <title> Students </title>
	</head>

	<body>
		<h3 dir=rtl> מספר סטודנטים: <%= number_with_delimiter(@students.count, :delimiter => ',') %> </h3>
		<!-- Show all friends  -->
		<table class='students_table'> 

			<thead>
				<tr>
						<th> שנה </th>
						<th> סמסטר </th>
						<th> מפתח </th>
						<th> תאריך לידה </th>
						<th> עיר </th>
						<th> מגדר </th>
						<th> תת התמחות </th>
						<th> ציון משוקלל </th>
						<th> מוסד לימודים </th>
						<th> ציון מתואם </th>
						<th> ציון משולב </th>
						<th> ציון פיסוכמטרי </th>
						<th> ציון מכינה </th>
						<th> רמת אנגלית </th>
						<th> ציון בגרות </th>
						<th> ציון 1 </th>
						<th> יח"ל 1 </th>
						<th> ציון 2 </th>
						<th> יח"ל 2 </th>
						<th> תאור קבוצה </th>
						<th> עדיפות </th>
						<th> מגמה </th>
						<th> תכנית לימודים </th>
						<th> מצ"ט </th>
				</tr>
			</thead>
			
			<tbody>
				<% @students.each do |student| %>
						<tr>
							<td> <%= student.year %> </td>
							<td> <%= student.semester %> </td>
							<td> <%= student.id_number %> </td>
							<td> <%= student.birthdate %> </td>
							<td> <%= student.city %> </td>
							<td> <%= student.gender %> </td>
							<td> <%= student.combined_grade %> </td>
							<td> <%= student.integrated_grade %> </td>
							<td> <%= student.sat_grade %> </td>
							<td> <%= student.mehina_grade %> </td>
							<td> <%= student.english_level %> </td>
							<td> <%= student.school_grade %> </td>
							<td> <%= student.subject1_grade %> </td>
							<td> <%= student.subject1_units %> </td>
							<td> <%= student.subject2_grade %> </td>
							<td> <%= student.subject2_units %> </td>
							<td> <%= student.group_description %> </td>
							<td> <%= student.priority %> </td>
							<td> <%= student.school %> </td>
							<td> <%= student.curriculum %> </td>
							<td> <%= student.mazat %> </td>
						</tr>
				<% end %>
			</tbody>

		</table>

	</body>
</html>
