<%= form_for(@graduate) do |f| %>
  <% if @graduate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graduate.errors.count, "error") %> prohibited this graduate from being saved:</h2>

      <ul>
      <% @graduate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_number %><br />
    <%= f.number_field :id_number %>
  </div>
  <div class="field">
    <%= f.label :curriculum %><br />
    <%= f.text_field :curriculum %>
  </div>
  <div class="field">
    <%= f.label :curriculum_code %><br />
    <%= f.number_field :curriculum_code %>
  </div>
  <div class="field">
    <%= f.label :graduation_ceremony_date %><br />
    <%= f.date_select :graduation_ceremony_date %>
  </div>
  <div class="field">
    <%= f.label :graduation_date %><br />
    <%= f.date_select :graduation_date %>
  </div>
  <div class="field">
    <%= f.label :final_grade %><br />
    <%= f.number_field :final_grade %>
  </div>
  <div class="field">
    <%= f.label :ranking %><br />
    <%= f.number_field :ranking %>
  </div>
  <div class="field">
    <%= f.label :ranking_total %><br />
    <%= f.number_field :ranking_total %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
