<!DOCTYPE html>
<html>
    <head>
      <title> Gradutes </title>
    </head>

    <body>
        <h3 dir=rtl> מספר מסיימים: <%= number_with_delimiter(@graduates.count, :delimiter => ',') %> </h3>
        <!-- Show all friends  -->
        <table align="center" class='students_table'> 

            <thead>
                <tr>
                        <th> מזהה </th>
                        <th> מגדר </th>
                        <th> מגמה </th>
                        <th> מזהה מגמה </th>
                        <th> ציון סופי </th>
                        <th> תאריך זכאות לתואר </th>
                        <th> תאריך טקס סיום תואר </th>
                        <th> מספר בדירוג </th>
                        <th> מתוך </th>
                </tr>
            </thead>
            
            <tbody>
                <% @graduates.each do |graduate| %>
                        <tr>
                            <td> <%= graduate.id_number %> </td>
                            <td> <%= graduate.gender %> </td>
                            <td> <%= graduate.curriculum %> </td>
                            <td> <%= graduate.curriculum_code %> </td>
                            <td> <%= graduate.final_grade %> </td>
                            <td> <%= graduate.graduation_date %> </td>
                            <td> <%= graduate.graduation_ceremony_date %> </td>
                            <td> <%= graduate.ranking %> </td>
                            <td> <%= graduate.ranking_total %> </td>
                            <td> <%= link_to "Show", graduate %> </td>
                        </tr>
                <% end %>
            </tbody>

        </table>

    </body>
</html>
