<p id="notice"><%= notice %></p>

<p>
  <b>Id number:</b>
  <%= @graduate.id_number %>
</p>

<p>
  <b>Curriculum:</b>
  <%= @graduate.curriculum %>
</p>

<p>
  <b>Curriculum:</b>
  <%= @graduate.curriculum_id %>
</p>

<p>
  <b>Graduation ceremony date:</b>
  <%= @graduate.graduation_ceremony_date %>
</p>

<p>
  <b>Graduation date:</b>
  <%= @graduate.graduation_date %>
</p>

<p>
  <b>Final grade:</b>
  <%= @graduate.final_grade %>
</p>

<p>
  <b>Ranking:</b>
  <%= @graduate.ranking %>
</p>

<p>
  <b>Ranking total:</b>
  <%= @graduate.ranking_total %>
</p>

<p>
  <b>Gender:</b>
  <%= @graduate.gender %>
</p>


<%= link_to 'Edit', edit_graduate_path(@graduate) %> |
<%= link_to 'Back', graduates_path %>
