<%= form_for(@graduate_profession) do |f| %>
  <% if @graduate_profession.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@graduate_profession.errors.count, "error") %> prohibited this graduate_profession from being saved:</h2>

      <ul>
      <% @graduate_profession.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_number %><br />
    <%= f.number_field :id_number %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :marital_status %><br />
    <%= f.text_field :marital_status %>
  </div>
  <div class="field">
    <%= f.label :number_of_children %><br />
    <%= f.number_field :number_of_children %>
  </div>
  <div class="field">
    <%= f.label :second_degree_institute %><br />
    <%= f.text_field :second_degree_institute %>
  </div>
  <div class="field">
    <%= f.label :second_degree %><br />
    <%= f.text_field :second_degree %>
  </div>
  <div class="field">
    <%= f.label :second_degree_type %><br />
    <%= f.text_field :second_degree_type %>
  </div>
  <div class="field">
    <%= f.label :third_degree_institute %><br />
    <%= f.text_field :third_degree_institute %>
  </div>
  <div class="field">
    <%= f.label :third_degree_years %><br />
    <%= f.text_field :third_degree_years %>
  </div>
  <div class="field">
    <%= f.label :third_degree_type %><br />
    <%= f.text_field :third_degree_type %>
  </div>
  <div class="field">
    <%= f.label :current_job %><br />
    <%= f.text_field :current_job %>
  </div>
  <div class="field">
    <%= f.label :current_company %><br />
    <%= f.text_field :current_company %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
