<p id="notice"><%= notice %></p>

<p>
  <b>Id number:</b>
  <%= @graduate_profession.id_number %>
</p>

<p>
  <b>Gender:</b>
  <%= @graduate_profession.gender %>
</p>

<p>
  <b>Marital status:</b>
  <%= @graduate_profession.marital_status %>
</p>

<p>
  <b>Number of children:</b>
  <%= @graduate_profession.number_of_children %>
</p>

<p>
  <b>Second degree institute:</b>
  <%= @graduate_profession.second_degree_institute %>
</p>

<p>
  <b>Second degree:</b>
  <%= @graduate_profession.second_degree %>
</p>

<p>
  <b>Second degree type:</b>
  <%= @graduate_profession.second_degree_type %>
</p>

<p>
  <b>Third degree institute:</b>
  <%= @graduate_profession.third_degree_institute %>
</p>

<p>
  <b>Third degree years:</b>
  <%= @graduate_profession.third_degree_years %>
</p>

<p>
  <b>Third degree type:</b>
  <%= @graduate_profession.third_degree_type %>
</p>

<p>
  <b>Current job:</b>
  <%= @graduate_profession.current_job %>
</p>

<p>
  <b>Current company:</b>
  <%= @graduate_profession.current_company %>
</p>


<%= link_to 'Edit', edit_graduate_profession_path(@graduate_profession) %> |
<%= link_to 'Back', graduate_professions_path %>
